<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/loginval")
</head>
<body>

    <div id='some-element'>
        <div class="container">
            <br />
            @RenderBody()

            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - PARCEROS S.A.</p>
            </footer>

        </div>
    </div>
    
    
    @Scripts.Render("~/bundles/mdb")
    
    @RenderSection("scripts", required: false)
</body>
</html>
