<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quien se pega</title>
    @Styles.Render("~/Content/materialize")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <!--Menu -->

        <ul id="slide-out" class="side-nav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="@Url.Content("~/img/user-profile.jpg")">
                    </div>
                    <a href="#!user"><img class="circle" src="@Url.Content("~/img/avatar.jpg")"></a>
                    <a href="#!name"><span class="white-text name">John Doe</span></a>
                    <a href="#!" class="dropdown-button" data-activates="droupdown1"><span class="white-text email">jdandturk@gmail.com <i class="material-icons">arrow_drop_down_circle</i></span></a>
                </div>
            </li>
            <li><a href="/Administracion/AdministracionView"><i class="material-icons">streetview</i>ADMINISTRACIÓN</a></li>
            <li><a href="/Home/Index"><i class="material-icons">map</i>VER PARCHES</a></li>
            <li><a href="/CrearParche/CrearParcheView"><i class="material-icons">add_location</i>CREAR PARCHE</a></li>
            <li><div class="divider"></div></li>
            <li><a class="waves-effect" href="/Ayuda/AyudaView"><i class="material-icons">info</i>Ayuda</a></li>
        </ul>

    <!--Dropdown -->
    <ul id="droupdown1" class="dropdown-content">
        <li><a href="/Manage/ChangePassword"><i class="material-icons">person</i>Perfile</a></li>
        <li id="cerrarseson"><a class="waves-effect" href="/Ayuda/AyudaView"><i class="material-icons">power_settings_new</i>Salir</a></li>
    </ul>
    <!--/Dropdown -->

    <!--/ Menu -->

        <!--Navbar-->
        <nav class="nav-extended orange accent-4">
            <div class="nav-wrapper">
                <a id="logo-container" href="#!" class="brand-logo"><img src="@Url.Content("~/img/logo2.png")" alt="logo"></a>
            </div>
            <div class="nav-content" id="contenidoNav">

                <a href="#!" data-activates="slide-out" id="button-collapse" class="btn-floating btn-large halfway-fab waves-effect waves-light orange">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>

        <!--/.Navbar-->

        <div class="container">
            <br />
            @RenderBody()
            <hr />
        </div>

        <footer class="page-footer orange lighten-2">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Construido Por</h5>
                        <div class="chip">
                            <img src="@Url.Content("~/img/yop.jpg")" alt="Desarrollador">
                            Alex Cifuentes Sánchez
                        </div>
                        <div class="chip">
                            <img src="@Url.Content("~/img/Unipanamericana.jpg")" alt="Desarrollador">
                            Comp 2
                        </div>
                        <div class="chip">
                            <img src="@Url.Content("~/img/Unipanamericana.jpg")" alt="Desarrollador">
                            Comp 3
                        </div>
                        <div class="chip">
                            <img src="@Url.Content("~/img/Unipanamericana.jpg")" alt="Desarrollador">
                            Comp 4
                        </div>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Hecho con AMOR gracias a </h5>
                        <p class="grey-text text-lighten-4">Materialize y Boostrap.</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <p>&copy; @DateTime.Now.Year - PARCEROS S.A.</p>
                </div>
            </div>
        </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materializejs")
    @Scripts.Render("~/bundles/crearparchejs")
    @RenderSection("scripts", required: false)
</body>
</html>
